:root{
    --main-color: #2289ff;
}

*{
    font-family: 'Orbitron', sans-serif;
}

/* Stile navbar */

.nav-custom {
    background-color: black;
    border-bottom: 1px solid white;
}

/* Stile header */

.bg-header {
    background: rgb(0,0,0);
    background-image: linear-gradient(to top, rgba(0,0,0,1) 10%, transparent, rgba(0,0,0,1)),
    url(./Black/media/moon.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-left: 10px;
}

.bg-custom{
    background-color: black;
}

.icon-custom {
    color: var(--main-color);
}

.border-custom {
    border-bottom: 3px solid var(--main-color);
}

.text-custom{
    color: var(--main-color);
}

.flex-custom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-custom{
    position: relative;
    padding: 10px 30px;
    text-decoration: none;
    transition: 0.4s;
}

.btn-custom::after{
    position: absolute;
    content: "";
    top:-2px;
    left:-10px;
    height: 100%;
    width: 10px;
    border-left: 4px solid var(--main-color);
    border-top: 4px solid var(--main-color);
    border-bottom: 4px solid var(--main-color);
    transition: 0.4s;
}

.btn-custom::before{
    position: absolute;
    content: "";
    top:-2px;
    right:-10px;
    height: 100%;
    width: 10px;
    border-right: 4px solid var(--main-color);
    border-top: 4px solid var(--main-color);
    border-bottom: 4px solid var(--main-color);
    transition: 0.4s;
}

.btn-custom:hover::after{
    left: 0px;
    width: 60px;
}

.btn-custom:hover::before{
    right: 0px;
    width: 60px;
}

.corner{
    position: absolute;
    border-top: 4px solid var(--main-color);
    border-left: 4px solid var(--main-color);
    height: 15px;
    width: 15px;
    transition: 0.4s;
}

#tl{
    top: 0;
    left: 0;
}

#tr{
    top: 0;
    right: 0;
    transform: rotateY(180deg);
}

#br{
    bottom: 0;
    right: 0;
    transform: rotateZ(180deg);
}

#bl{
    bottom: 0;
    left: 0;
    transform: rotateX(180deg);
}


button{
    position: relative;
    height: 4rem;
    width: 8rem;
    background: none;
    border: none;
}

button:hover > #tl{
    left: 0.75rem;
    top: 0.5rem;
}

button:hover > #tr{
    right: 0.75rem;
    top: 0.5rem;
}

button:hover > #br{
    right: 0.75rem;
    bottom: 0.5px;
}

button:hover > #bl{
    left: 0.75rem;
    bottom: 0.5px;
}

.bg-footer {
    background: rgb(0,0,0);
    background-image: linear-gradient(to top, rgba(0,0,0,1) 10%, transparent, rgba(0,0,0,1)),
    url(./Black/media/sunrise-1765027_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-left: 10px;
}

.border-footer {
    border-bottom: 3px solid var(--main-color);
}

.img-custom{
    margin-top: 50px;
}